{% extends "layout.html" %} {% block content %}

<div class="page-header">
  <h1>Welcome to Twitter.js!</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <img
      src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"
    /><br />
    <b>Your Name</b><br />
    100 followers
  </div>
  <div class="col-md-9">
    <!-- display tweets here -->
    {% for tweet in tweets %}
    <div class="row" id="fila-for">
      <div class="col-md-2"><img src="https://i.imgur.com/mfwYfyO.png" alt="" id="profile-pic"></div>
      <div class="col-md-10">
      <span id="name">{{ tweet.name }}</span>
      <span id="tweet-content">{{ tweet.content }}</span>
    </div>
    </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
